<div *ngIf="post$ | async as post; else loading">
  <h1>{{ post.title }}</h1>
  <strong>{{ post.author.name }}, {{ post.created_at | date:'medium':null:'ru'}}</strong>
  <quill-view-html [content]="post.content"></quill-view-html>
</div>
<ng-template #loading>
  <p class="text-center"></p>
</ng-template>
