<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="!auth.isAutheticated()">
        <a class="nav-link" routerLink="login">Войти</a>
      </li>

      <li class="nav-item" routerLinkActive="active" *ngIf="auth.isAutheticated()">
        <a class="nav-link" routerLink="profile">Профиль</a>
      </li>
      <li class="nav-item" *ngIf="auth.isAutheticated()">
        <a class="nav-link" (click)="logout()">Выход</a>
      </li>
    </ul>
  </div>
</nav>
