<div class="card post-card">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <div>
      <strong>{{ post.author.name }}, {{ post.created_at | date:"mediumDate":null:'ru' }}</strong>
    </div>
    {{ post.content }}
  </div>
  <div class="card-footer text-right">
    <a [routerLink]="['post', post.id]" class="btn btn-link">Читать</a>
  </div>
</div>
